
<div class = "row">
<div class="col-md-4 text-center" *ngFor="let sneaker  of (sneakers ? sneakers.slice(0,10): [])">
   
   <div class="card text-center col-md-12">
        <p> {{sneaker.brand}}  -  {{sneaker.model}} </p>   
        <p>Fecha Lanzamiento :  {{sneaker.launchDate}} </p>
        <p>Precio:  $ {{sneaker.price}} </p>     
   </div>
   <img src="{{sneaker.image}}" class="card-img-top col-sm-6">   
   <div class="car-body col-lg-4">
     <a href="/detail/{{sneaker.id}}" class="btn btn-info btn-block">
         Ver Detalle
     </a>
   </div>
  
</div>
</div>

